<div class="navbar container row">

  <div class="column oneThird">
    <div class="row" style="height: 37px"></div>
    <div class="container row">
      <div id="home_tab" class="column oneFifth pageTab">
        <a routerLink="home" routerLinkActive="active"> Home </a>
      </div>
      <div id="create_tab" class="column oneFifth pageTab">
        <a routerLink="create" routerLinkActive="active"> Create </a>
      </div>
    </div>
  </div>

  <div id="webpage_title" class="column oneThird">
    <h1> SIMPLE PUSH PCF </h1>
  </div>

</div>

<router-outlet></router-outlet>
