<div *ngFor="let employee of employeeDatabase">
  
    <div class="container">
      <h4><b> Name: {{employee.firstName}} {{employee.lastName}} </b></h4>
      <h4><b> GPA: {{employee.salary}} </b></h4>
    </div>
  
</div>
