<form [formGroup]="newEmployee" (ngSubmit)="createStudent()">

  <label> First Name
    <input formControlName="firstName" type="text">
  </label>

  <label> Last Name
    <input formControlName="lastName" type="text">
  </label>

  <label> Salary
    <input formControlName="salary" type="text">
  </label>

  <button type="submit" [disabled]="!newEmployee.valid"> Create </button>

</form>
